#hoved{
    width: 150px; 
    height: 150px;                         
    padding: 100px;	             
    background-color: white; 	 
    border: 1px solid black; 
}

.c2{
    left: 10px;
}
.c3{
    left: 20px;
}
.c4{
    left: 30px;
}
.c5{
    left: 40px;
}
.c6{
    left: 50px;
}
.c7{
    left: 60px;
}
.c8{
    left: 70px;
}
.c9{
    left: 80px;
}
.c10{
    left: 90px;
}
.c11{
    left: 100px;
}
.c12{
    left: 110px;
}
.c13{
    left: 120px;
}
.c14{
    left: 130px;
}
.c15{
    left: 140px;